.main-container{
    height: 400px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    animation: slideInFromTop 2s forwards;
}

.column{
    width: 2%;
    height: inherit;
    position: relative;
    display: inline-block;
    animation: slideInFromTop 2s forwards;
}

.bar{
    width: 95%;
    background-color: #35a5d1;
    height: 150px;
    position: absolute;
    bottom: 0;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 5px;
    animation: slideInFromTop 2s forwards;
}

.box{
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    animation: slideInFromTop 2s forwards;
}

button{
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: inherit;
    animation: slideInFromTop 2s forwards;
}

.dropdown-menu {
    margin-left: 80px;
    animation: slideInFromTop 1s forwards;
}


@keyframes slideInFromTop {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
